<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="subTask">
            <h2><span jhiTranslate="testApp.subTask.detail.title">Sub Task</span> {{ subTask.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="testApp.subTask.title">Title</span></dt>
                <dd>
                    <span>{{ subTask.title }}</span>
                </dd>
                <dt><span jhiTranslate="testApp.subTask.description">Description</span></dt>
                <dd>
                    <span>{{ subTask.description }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sub-task', subTask.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
